
@using System.Web.UI.WebControls;
@using Inventario.Models;
@model Inventario.Models.Bienes
@{
    ViewBag.Title = "Anadir Bienes";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}
   <h2 class="text-center titulo">AnadirBienes</h2>
   

    @using (Html.BeginForm("AnadirBienes", "Bienes", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
      <p>Digite los datos requeridos</p>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.LabelFor(model => model.numeroDePatrimonio,"Numero de Patrimonio", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroDePatrimonio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroDePatrimonio, "*Obligatorio", new { @class = "text-danger" })
            </div>
        </div>

       <div class="form-group">
          @Html.LabelFor(model => model.codigoDeBarras, htmlAttributes: new { @class = "control-label col-md-2" })
          <div class="col-md-10">
            @Html.EditorFor(model => model.codigoDeBarras, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.codigoDeBarras, "*", new { @class = "text-danger" })
           </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.descripcion, "*", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ley, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ley, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ley, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.marca, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.marca, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.modelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.modelo, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.serie, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.serie, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.serie, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @*@Html.LabelFor(model => model.idEspecialidad, htmlAttributes: new { @class = "control-label col-md-2" })*@
            <div class="col-md-10">
               
                @Html.DropDownList("IDEspecialidad")        
    
                 @*@Html.EditorFor(model => model.idEspecialidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idEspecialidad, "*", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ubicacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ubicacion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ubicacion, "*", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado,"Estado del bien", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor( model => model.estado,
                                       new SelectList(Enum.GetValues(typeof(EstadosEnum))),
                                       "Selecciona Estado")
                @Html.ValidationMessageFor(model => model.estado, "*", new { @class = "text-danger" })
            </div>
         </div>
         
        <div class="form-group">
                @Html.LabelFor(model => model.condicion,"Condicion del bien", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.condicion,
                                       new SelectList(Enum.GetValues(typeof(CondicionesEnum))),
                                       "Selecciona Condicion")
                    @Html.ValidationMessageFor(model => model.condicion, "*Obligatorio", new { @class = "text-danger" })
                </div>
         </div>

        <div class="form-group">
            @Html.LabelFor(model => model.numeroDeFactura, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.numeroDeFactura, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.numeroDeFactura, "*Obligatorio", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Anadir" class="btn btn-default" />
            </div>
        </div>
   </div>
}

<div>
    @Html.ActionLink("Ver Bienes", "VerBienes")
</div>
