@using Inventario.Models
@model IEnumerable<Inventario.Models.Bienes>

@{
    ViewBag.Title = "Ver Bienes";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

    <h2 class="text-center titulo">Ver Bienes</h2>
<div class="row">
    @using (Html.BeginForm("BuscarVerBienes", "Bienes",FormMethod.Post,new {@class ="form-inline col-7" }))
    {
        <div class="form-group">
            <label>
                Buscar Bien:
                <input type="text" class="" name="id" placeholder="Numero de patrimonio" />
                <input type="submit" value="buscar" class=" " />
            </label>  
        </div>
    }

    @using (Html.BeginForm("RestablecerLista","Bienes"))
    {
        <div class="col-3">
            <input type="submit" value="Reestablecer" class="" />
        </div>
    }
</div>



    <hr />
<div class="row">
    <div class="col-12">
        <table class="table table-striped table-responsive-sm">
            <thead class="table-secondary border-bottom">
                <tr>
                    <td>Número de patrimonio</td>
                    <td>Código de Barras</td>
                    <td>Descripción</td>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <td>Serie</td>
                    <td>Ley que financia</td>
                    <td>Ubicacion</td>
                    <td>Especialidad</td>
                    <td>Estado</td>
                    <td>Condicion</td>
                    <td>Número de factura</td>
                    <td>Añadido por</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.numeroDePatrimonio)</td>
                        <td>@Html.DisplayFor(modelItem => item.codigoDeBarras)</td>
                        <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                        <td>@Html.DisplayFor(modelItem => item.marca)</td>
                        <td>@Html.DisplayFor(modelItem => item.modelo)</td>
                        <td>@Html.DisplayFor(modelItem => item.serie)</td>
                        <td>@Html.DisplayFor(modelItem => item.ley)</td>
                        <td>@Html.DisplayFor(modelItem => item.ubicacion)</td>
                        <td>@Html.DisplayFor(modelItem => item.Especialidad.nombreEspecialidad)</td>
                        <td>@Html.DisplayFor(modelItem => item.estado)</td>
                        <td>@Html.DisplayFor(modelItem => item.condicion)</td>
                        <td>@Html.DisplayFor(modelItem => item.numeroDeFactura)</td>
                        <td>@Html.DisplayFor(modelItem => item.anadidoPor)</td>
                    </tr>
                    }
            </tbody>
        </table>
    </div> 

</div>