@model Inventario.Models.Bienes

@{
    ViewBag.Title = "DarBaja";
    Layout = "~/Views/Shared/LayoutPage.cshtml";
}

<h2>DarBaja</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Bienes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Especialidad.nombreEspecialidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especialidad.nombreEspecialidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.codigoDeBarras)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigoDeBarras)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anadidoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anadidoPor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numeroDeFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numeroDeFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ley)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ley)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.condicion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "VerBienes")
        </div>
    }
</div>
